body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

header {
    height: 55px;
    color: #ffffff;
    background-color: black;
    padding: 10px;
}

header h1 {
    margin: 0;
}

.main-page{
    margin-top: 50px;

}

h2{
    font-size: 2em;
    margin-top: -4px;
    text-align: center;
}

.cart li{
    list-style-type: none;
}

.sushi_picture {
    height: 50px;
    margin-top: -14px;
}

.table-striped td {
    vertical-align: middle;
}

.button_cellule {
    width: 30px;
}

.button_cellulename {
    width: 90px;
}

[class^="icon-"]:hover {
    cursor: pointer;
}

#btn-cmd {
    text-align: center;
}